> https://kirion.tistory.com/entry/%EC%A3%BC%EC%8B%9D-%EB%8B%A8%ED%83%80-%EC%A0%84%EB%9E%B5-%EB%AA%A8%EB%8B%88%ED%84%B0%EB%A7%81-%EC%8B%9C%EC%8A%A4%ED%85%9C-%EA%B0%9C%EB%B0%9C-%EC%9D%BC%EC%A7%80

# 1. 주식 단타 전략 모니터링 시스템 - 파이썬 주식 가격 조회

In [25]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.70'

In [28]:
#종목 코드
#-----------
#거래소별 전체 종목코드: KRX (KOSPI, KODAQ, KONEX), NASDAQ, NYSE, AMEX, S&P 500
#
#가격 데이터
#-----------
#해외주식 가격 데이터: AAPL(애플), AMZN(아마존), GOOG(구글) 등
#국내주식 가격 데이터: 005930(삼성전자), 091990(셀트리온헬스케어) 등
#각종 지수: KS11(코스피지수), KQ11(코스닥지수), DJI(다우지수), IXIC(나스닥 지수), US500(S&P 5000)
#환율 데이터: USD/KRX (원달러 환율), USD/EUR(달러당 유로화 환율), CNY/KRW: 위엔화 원화 환율
#암호화폐 가격: BTC/USD (비트코인 달러 가격, Bitfinex), BTC/KRW (비트코인 원화 가격, 빗썸)

import FinanceDataReader as fdr
df_krx = fdr.StockListing('KRX')
df_krx.head(5)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,82200,2,-1500,-1.79,82900,83200,81200,26567073,2179827422804,491313103865000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,188200,1,800,0.43,185400,188400,183000,2660486,494370790600,136573243674000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,373000,1,1500,0.40,367000,377000,365500,105969,39360468500,87048000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,793000,1,3000,0.38,784000,794000,777000,31460,24771596000,56369808000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,67800,2,-1300,-1.88,67800,68200,67000,1249428,84359249109,56038584270000,822886700,STK

In [11]:
# KOSPI목록만 선별
kospi_list = df_krx[df_krx['Market']=='KOSPI']
kospi_list.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,82300,2,-1400,-1.67,82900,83200,81200,23762534,1949198498000,491313103865000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,187300,2,-100,-0.05,185400,188400,183000,2252334,417688198500,136354842964500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,375500,1,4000,1.08,367000,377000,365500,87560,32485783500,87867000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,793000,1,3000,0.38,784000,794000,777000,26024,20462166000,56440982000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,67800,2,-1300,-1.88,67800,68200,67000,1030291,69501188600,55791718260000,822886700,STK

In [20]:
# ETF 목록
df_krx[df_krx['Name'].str.contains('KODEX')].head() # ETF목록 빠지는 듯...

Empty DataFrame
Columns: [Code, ISU_CD, Name, Market, Dept, Close, ChangeCode, Changes, ChagesRatio, Open, High, Low, Volume, Amount, Marcap, Stocks, MarketId]
Index: []

In [22]:
# Sector 및 Industry 항목이 없음...
#kospi_list = kospi_list[~kospi_list["Sector"].isna()]
#kospi_list.head()

In [24]:
# Sector 및 Industry 항목이 없음...
#kospi_list['Sector'].value_counts().head(10)

In [30]:
samsung = fdr.DataReader('005930', '2024-04-15')
samsung

             Open   High    Low  Close    Volume    Change
Date
2024-04-15  82900  83200  81200  82200  26101613 -0.017921

In [31]:
samsung = fdr.DataReader('005930', '2024')
samsung

             Open   High    Low  Close    Volume    Change
Date
2024-01-02  78200  79800  78200  79600  17142847  0.014013
2024-01-03  78500  78800  77000  77000  21753644 -0.032663
2024-01-04  76100  77300  76100  76600  15324439 -0.005195
2024-01-05  76700  77100  76400  76600  11304316  0.000000
2024-01-08  77000  77500  76400  76500  11088724 -0.001305
...           ...    ...    ...    ...       ...       ...
2024-04-08  85200  86000  84500  84500  18953232  0.000000
2024-04-09  84500  84900  83100  83600  23725956 -0.010651
2024-04-11  83200  84700  82500  84100  25538009  0.005981
2024-04-12  84700  84900  83200  83700  17061770 -0.004756
2024-04-15  82900  83200  81200  82200  26101613 -0.017921

[71 rows x 6 columns]

# 2. 주식 단타 전략 모니터링 시스템 - 매수 기준 감지

>래리 윌리엄스가 개발한 단기 매매 전략
- 일봉 기준 Range 계산 : 전일 고가 - 저가
- 매수 기준 : 당일 장중 가격 > 당일 시가 + Range -> 돌파 시점에 시장가 매수
- 매도 기준 : 다음 날 시가 청산

In [34]:
import FinanceDataReader as fdr
import pandas as pd

df_krx = fdr.StockListing('KRX')
df_krx.head(5)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,79900,2,-2300,-2.80,81200,81300,79400,24501603,1964691425400,476985625745000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,179000,2,-9200,-4.89,184400,185500,178300,3655930,661581439950,130312423335000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,367000,2,-6000,-1.61,368000,372500,366000,77137,28373914000,85878000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,782000,2,-11000,-1.39,787000,794000,781000,26550,20840032000,55658068000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,66500,2,-1300,-1.92,67200,67200,66100,1321814,87980409500,54721965550000,822886700,STK

In [35]:
kospi_data = df_krx[df_krx['Market'].str.contains('KOSPI')]
kospi_200_list = pd.read_csv('./KOSPI200.csv', index_col = 0, encoding='euc-kr')
list_200 = kospi_200_list[kospi_200_list['Symbol']==102110].STK_NM_KOR
list_200

0          삼성전자
1        SK하이닉스
2      LG에너지솔루션
3      삼성바이오로직스
4           현대차
         ...
195        KG스틸
196        신풍제약
197        명신산업
198          영풍
199      PI첨단소재
Name: STK_NM_KOR, Length: 200, dtype: object

In [36]:
kospi_data = kospi_data[kospi_data['Name'].isin(list_200)]
kospi_data.shape[0]

200

In [37]:
t_date = '2024-04-15'

In [38]:
before_price = None
for t_code in kospi_data['Code']:
    t_name = kospi_data[kospi_data['Code']==t_code]["Name"].values[0]
    price_data = fdr.DataReader(t_code, t_date, t_date)
    price_data.insert(0, 'Code', t_code)
    price_data.insert(0, 'Name', t_name)
    before_price = pd.concat([before_price, price_data], axis = 0)
before_price['band'] = before_price['High'] - before_price['Low']
before_price.head(5)

,Name,Code,Open,High,Low,Close,Volume,Change,band
Date,,,,,,,,,
2024-04-15,삼성전자,005930,82900,83200,81200,82200,26663772,-0.017921,2000
2024-04-15,SK하이닉스,000660,185400,188400,183000,188200,2672047,0.004269,5400
2024-04-15,LG에너지솔루션,373220,367000,377000,365500,373000,106708,0.004038,11500
2024-04-15,삼성바이오로직스,207940,784000,794000,777000,793000,31597,0.003797,17000
2024-04-15,현대차,005380,236000,243000,233500,241500,1018783,0.014706,9500

In [40]:
t_date = '2024-04-15'

In [41]:
%%time
for t_code in kospi_data['Code']:
    t_name = kospi_data[kospi_data['Code']==t_code]["Name"].values[0]
    price_data = fdr.DataReader(t_code, t_date)
    
    target_band = before_price[before_price['Code'] == t_code]['band'].values[0]
    price_data['Base_Price'] = price_data['Open'] + int(target_band * 1.5)
    
    base_price = price_data['Base_Price'].values[0]
    current_price = price_data['Close'].values[0]
    
    if current_price >= base_price and target_band >= price_data['Open'].values[0] * 0.005:
        print(t_name, '현재 가격 : ', current_price, '기준 가격 : ', base_price)
    
print('Done')

Done
CPU times: total: 6min 39s
Wall time: 7min 40s

In [42]:
%%time
for t_code in kospi_data['Code']:
    t_name = kospi_data[kospi_data['Code']==t_code]["Name"].values[0]
    price_data = fdr.DataReader(t_code, t_date)
    
    target_band = before_price[before_price['Code'] == t_code]['band'].values[0]
    price_data['Base_Price'] = price_data['Open'] + int(target_band * 1.5)
    
    base_price = price_data['Base_Price'].values[0]
    current_price = price_data['High'].values[0]
    
    if current_price >= base_price and target_band >= price_data['Open'].values[0] * 0.005:
        print(t_name, '현재 가격 : ', current_price, '기준 가격 : ', base_price)
    
print('Done')

Done
CPU times: total: 5min 42s
Wall time: 6min

# 3. 주식 단타 전략 모니터링 시스템 - 단기 기술적 지표 백테스팅

In [43]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np

df_krx = fdr.StockListing('KRX')
# kospi_data = df_krx[(df_krx['Market']=='KOSPI') & (~df_krx['Sector'].isna())]
kospi_data = df_krx[(df_krx['Market']=='KOSPI')]
kospi_data.shape

(954, 17)

In [45]:
kospi_price_data = None
for t_i in kospi_data.Code:
    t_n = kospi_data[kospi_data['Code']==t_i]['Name'].values[0]
    price_data = fdr.DataReader(t_i, '2024-04-15')
    price_data.insert(0,'Code', t_i)
    price_data.insert(0,'Name', t_n)
    
    kospi_price_data = pd.concat([kospi_price_data, price_data], axis = 0)

In [46]:
kospi_price_data.to_csv('kospi_data.csv')
kospi_price_data = pd.read_csv('kospi_data.csv', index_col=0, dtype={'Code':str})

In [47]:
kospi_price_data['band'] = kospi_price_data['High'] - kospi_price_data["Low"]

In [49]:
def trading_simul(tmp, per, tax, pr):
    my_money = 1000000
    before_day = None
    current_day = None
    buy = False
    sell = False
    for i in tmp.index:
        if before_day is None:
            before_day = tmp[tmp.index == i]
        else:
            current_day = tmp[tmp.index == i]
            if buy == True:
                sell_price = current_day['Open'].values[0]
                sell_money = sell_price * stock_num * tax
                my_money = my_money + sell_money
                diff = sell_price - buy_price
                diff_per = np.round(diff/buy_price*100, 2)
                
                print(i, "매수가 :", buy_price, "/ 매도가 :", sell_price, "/ 보유금액 :", my_money, "/ 손익률 :", diff_per)
                buy = False
            base_price = current_day['Open'].values[0] + int((before_day['band'].values[0] *per))
            
            if current_day['High'].values[0] >= base_price and before_day['band'].values[0] >= current_day['Open'].values[0]*0.005:
                buy = True
                if pr == 'Close':
                    buy_price = current_day['Close'].values[0]
                elif pr == 'Base':
                    buy_price = base_price
                stock_num = int(my_money/buy_price)
                buy_money = buy_price * stock_num
                my_money = my_money - buy_money
                
            before_day = current_day.copy()

In [51]:
kospi_price_data.sample(10)

,Name,Code,Open,High,Low,Close,Volume,Change,band
Date,,,,,,,,,
2024-04-15,OCI홀딩스,010060,89600,90600,88500,90200,59327,0.006696,2100
2024-04-15,SK,034730,160600,166900,159500,164900,99908,0.021685,7400
2024-04-15,TYM,002900,4750,4855,4720,4770,183976,-0.018519,135
2024-04-16,한올바이오파마,009420,32550,33100,32100,32650,165987,-0.007599,1000
2024-04-15,KTcs,058850,3225,3245,3155,3220,303728,-0.010753,90
2024-04-15,미래산업,025560,2230,2655,2160,2485,5967047,0.092308,495
2024-04-15,이아이디,093230,0,0,0,1392,0,0.000000,0
2024-04-15,다올투자증권,030210,3100,3105,3005,3075,54309,-0.017572,100
2024-04-15,롯데칠성,005300,123800,126300,123000,125300,10916,0.006426,3300
2024-04-15,엘브이엠씨홀딩스,900140,2810,2875,2765,2835,770150,-0.008741,110

In [53]:
tmp = kospi_price_data[kospi_price_data['Code'] == '000270']

In [54]:
trading_simul(tmp, 1.5, 0.999, 'Base')

In [55]:
trading_simul(tmp, 1.5, 0.999, 'Close')

# 4. 주식 단타 전략 모니터링 시스템 - 카카오톡 API 나에게 메세지 보내기

In [62]:
import requests
import json

# 카카오톡 메시지 API
url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type":"authorization_code",
    "client_id":"aa96073b402b59689b2e3bb12c1390dc",
    "redirect_url":"https://www.naver.com",
    "code":"OAncvMja3SVNVjG7e3Y0l5USR_CMIIRShOf4slvqbY7AbdXMK72xHl4lFyQKPXTaAAABjuXtYgeYFzyUYZmfhQ",
}
response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

{'access_token': '1X23bd7jGhHpaPKdcik0uBJXOd5SY9KPaOEKPXUaAAABjuXtu8z7Ewsnpgvovw', 'token_type': 'bearer', 'refresh_token': 'KfDJe6D664iw6t6OAxvc__wqZN7vQmWbNwgKPXUaAAABjuXtu8n7Ewsnpgvovw', 'expires_in': 21599, 'scope': 'talk_message', 'refresh_token_expires_in': 5183999}

In [64]:
#저장한 키값과 code값을 이용해 토큰을 발행한다.
#밑줄 친 부분을 수정하면 된다.

# kakao_code.json 파일 저장
with open("kakao_code.json", "w") as fp:
    json.dump(tokens, fp)

# kakao_code.json 파일 불러오기
with open("kakao_code.json", "r") as fp:
    tokens = json.load(fp)

# 토큰 재발행
def refreshToken(refresh_token):
    REST_API_KEY = "aa96073b402b59689b2e3bb12c1390dc"
    REDIRECT_URI = "https://www.naver.com"
    data = {
        "grant_type": "refresh_token",
        "client_id":f"{REST_API_KEY}",
        "refresh_token": refresh_token
    }
    
    resp = requests.post(REDIRECT_URI , data=data)
    print(resp)
    new_token = resp.json()
    
    return new_token['access_token']
 
#카카오톡 API 토큰은 사용기간이 짧기 때문에 주기적으로 재발행해주어야 한다.
#재발행을 위한 코드는 위의 함수로 구현하였다.
#재발행 함수도 밑줄 친 부분을 수정하면 된다.

# 메세지 보내기
url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + tokens["access_token"]
}

# 보내고자 하는 data 입력
data = {"template_object" : json.dumps({ "object_type" : "text",
                                        "text" : "매수사인"+"\n" +
                                        "매수종목 : " + "삼성전자 " ,
                                        "link" : None  })
       } 

response = requests.post(url, headers=headers, data=data)

# 메세지 전송
if response.json().get('result_code') == 0:
    print('메시지를 성공적으로 보냈습니다.')
else:
    print('메시지를 성공적으로 보내지 못했습니다. 오류메시지 : ' + str(response.json()))
    tokens["access_token"] = refreshToken(tokens["refresh_token"])
    headers = {"Authorization": "Bearer " + tokens["access_token"]}

# 메세지가 전송이 안되면 토큰의 기한이 다 되었다는 뜻이기 때문에 재발행을 받은 후 headers의 tokens값을 경신해준다.

메시지를 성공적으로 보냈습니다.

# 5. 주식 단타 전략 모니터링 시스템 - 파이썬 자동 감지 프로그램(1)

In [65]:
import FinanceDataReader as fdr
import numpy as np
import pandas as pd

df_krx = fdr.StockListing('KRX')

kospi_data = df_krx[df_krx["Market"].str.contains("KOSPI")]
#kospi_data = kospi_data[~kospi_data["Sector"].isna()]

kospi_200_list = pd.read_csv('./KOSPI200.csv', index_col = 0, encoding='euc-kr')
kospi_200_list[kospi_200_list['Symbol']==102110]

     Symbol    Code STK_NM_KOR
0    102110    5930       삼성전자
1    102110     660     SK하이닉스
2    102110  373220   LG에너지솔루션
3    102110  207940   삼성바이오로직스
4    102110    5380        현대차
..      ...     ...        ...
195  102110   16380       KG스틸
196  102110   19170       신풍제약
197  102110    9900       명신산업
198  102110     670         영풍
199  102110  178920     PI첨단소재

[200 rows x 3 columns]

In [66]:
kospi_data = kospi_data[kospi_data["Name"].isin(kospi_200_list[kospi_200_list["Symbol"]==102110].STK_NM_KOR)]
kospi_data.head(10)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,80000,2,-2200,-2.68,81200,81300,79400,31910829,2560957560362,477582604000000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,179100,2,-9100,-4.84,184400,185500,178300,4946661,893028936000,130385223571500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,366000,2,-7000,-1.88,368000,372500,366000,118877,43673742500,85644000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,785000,2,-8000,-1.01,787000,794000,781000,43701,34305054000,55871590000000,71174000,STK
5,005380,KR7005380001,현대차,KOSPI,,242000,1,500,0.21,239000,244500,236500,1200182,288909312720,50678718222000,209416191,STK
6,000270,KR7000270009,기아,KOSPI,,114700,1,100,0.09,113500,115200,112200,1985264,226550448600,46114470084100,402044203,STK
7,068270,KR7068270008,셀트리온,KOSPI,,172000,2,-6600,-3.70,177300,178300,171800,631393,110099085744,37504559064000,218049762,STK
8,005490,KR7005490008,POSCO홀딩스,KOSPI,,380500,2,-10000,-2.56,386000,389000,380500,480764,183753404000,32179353015000,84571230,STK
9,035420,KR7035420009,NAVER,KOSPI,,179500,2,-3300,-1.81,181600,181700,179500,794877,143206935500,29152342623000,162408594,STK
10,051910,KR7051910008,LG화학,KOSPI,,382000,2,-12500,-3.17,388000,390000,380000,303430,116136856000,26966275026000,70592343,STK

In [67]:
kospi_data.shape

(200, 17)

In [ ]:
t_date = "2024-04-15"

before_price = None
for t_i2 in kospi_data["Code"]:
    t_n = kospi_data[kospi_data["Code"]==t_i2]["Name"].values[0]
    price_data = fdr.DataReader(t_i2, t_date,t_date)
    price_data.insert(0,"Code",t_i2)
    price_data.insert(0,"Name",t_n)
    before_price = pd.concat([before_price,price_data.tail(1)],axis = 0)
before_price["range"] =  before_price["High"] - before_price["Low"]
before_price.head(5)

In [ ]:
while True:
    for t_i in kospi_data["Code"]:
        t_n = kospi_data[kospi_data["Code"]==t_i]["Name"].values[0]
        price_data = fdr.DataReader(t_i, t_date).tail(1)
    
        price_data.insert(0,"Code",t_i)
        price_data.insert(0,"Name",t_n)

        target_band = before_price[before_price["Code"]==t_i]["range"].values[0]
        price_data["Price_stand"] = price_data["Open"] + int(target_range*1.5)
        
        base_price = price_data["Price_stand"].values[0]
        current_price = price_data["Close"].values[0]

        if current_price >= base_price:
            print(t_n, current_price, base_price,target_band)

# 6. 주식 단타 전략 모니터링 시스템 - 파이썬 자동 감지 프로그램(2)

In [ ]:
import datetime as dt
import time

while True:
    x = dt.datetime.now()
    file_name = "./monitoring_log/"+str(x.month) + str(x.day) +"_kospi_log"
    time_log = str(x.month)+"월"+str(x.day)+"일 "+str(x.hour%24+9)+":"+str(x.minute)
    if x.hour+9 >=9 and x.hour+9 <16:

        with open(file_name+'.txt', 'a') as f: 
            f.write(time_log + " --- Monitoring 종목 개수 : "+ str(kospi_data.shape[0])+"\n")

        set_before = True
        print(x.hour+9,x.minute)
        for t_i in kospi_data["Code"]:
            t_n = kospi_data[kospi_data["Code"]==t_i]["Name"].values[0]
            price_data = fdr.DataReader(t_i, t_date).tail(1)
            date = price_data.index
            if t_date != date : t_date = str(price_data.index)[16:26]
            price_data.insert(0,"Code",t_i)
            price_data.insert(0,"Name",t_n)

            target_band = before_price[before_price["Code"]==t_i]["range"].values[0]
            price_data["Price_stand"] = price_data["Open"] + int(target_band*1.5)
            base_price = price_data["Price_stand"].values[0]
            current_price = price_data["Close"].values[0]

            bot_log = (time_log + " ### 프로그램 log test ### 종목명 : " + t_n  + " / 종목코드 : " + t_i + 
                                " / 현재가격 : " + str(current_price) + " / 기준가격 : " + str(base_price) +
                                " / Range : "  +str(target_band)  +"\n")
            
            #log test
            with open(file_name+'_kospi_test.txt', 'a') as f: 
                f.write(bot_log) 
            if current_price >= base_price:
                kospi_data = kospi_data[kospi_data["Code"]!=t_i]

                print(t_n, current_price, base_price,target_band)
                with open(file_name+'.txt', 'a') as f: 
                    f.write(bot_log)

    elif x.hour+9 == 16 and x.minute >= 10 and set_before == True:
        print(x.month, x.day,x.hour+9,x.minute)
        price_data = fdr.DataReader(t_i, t_date)
        t_date = str(price_data.tail(1).index)[16:26]

        kospi_data = df_krx[df_krx["Market"].str.contains("KOSPI")]
        kospi_data = kospi_data[kospi_data["Name"].isin(kospi_200_list[kospi_200_list["Code"]==102110].STK_NM_KOR)]

        before_price = None
        for t_i2 in kospi_data["Code"]:
            t_n = kospi_data[kospi_data["Code"]==t_i2]["Name"].values[0]
            price_data = fdr.DataReader(t_i2, t_date)
            price_data.insert(0,"Code",t_i2)
            price_data.insert(0,"Name",t_n)
            before_price = pd.concat([before_price,price_data.tail(1)],axis = 0)
        before_price["range"] =  before_price["High"] - before_price["Low"]
        set_before = False
        print(x.month,x.day,"completed")
        before_price.to_csv("./before_data/before_data_kospi"+str(x.month)+str(x.day)+".csv")
        with open(file_name+'.txt', 'a') as f: 
            f.write(time_log + ' --- Before_data_kospi를 갱신했습니다.'  +"\n")   

    else:
        with open(file_name+'.txt', 'a') as f: 
            f.write(time_log + ' --- 거래시간이 아닙니다. 프로그램 대기중'  +"\n")   
        time.sleep(60)

# 7. 주식 단타 전략 모니터링 시스템 - 파이썬 자동 감지 프로그램(3)

In [ ]:
import requests
import json

with open("kakao_code.json", "r") as fp:
    tokens = json.load(fp)
    
url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + tokens["access_token"]
}


def refreshToken(refresh_token):
    REST_API_KEY = "aa96073b402b59689b2e3bb12c1390dc"
    REDIRECT_URI = "https://www.naver.com"

    data = {
        "grant_type": "refresh_token",
        "client_id":f"{REST_API_KEY}",
        "refresh_token": refresh_token 
    }    
 
    resp = requests.post(REDIRECT_URI , data=data)
    print(resp)
    new_token = resp.json()

    return new_token['access_token']

try:
    while True:
        x = dt.datetime.now()
        file_name = "./monitoring_log/"+str(x.month) + str(x.day) +"_kospi_log"
        time_log = str(x.month)+"월"+str(x.day)+"일 "+str(x.hour%24+9)+":"+str(x.minute)
        if x.hour+9 >=9 and x.hour+9 <16:

            with open(file_name+'.txt', 'a') as f: 
                f.write(time_log + " --- Monitoring 종목 개수 : "+ str(kospi_data.shape[0])+"\n")

            set_before = True
            print(x.hour+9,x.minute)
            for t_i in kospi_data["Code"]:
                t_n = kospi_data[kospi_data["Code"]==t_i]["Name"].values[0]
                price_data = fdr.DataReader(t_i, t_date).tail(1)
                if price_data.shape[0]!= 0:
                    date = price_data.index
                    if t_date != date : t_date = str(price_data.index)[16:26]
                    price_data.insert(0,"Code",t_i)
                    price_data.insert(0,"Name",t_n)

                    target_band = before_price[before_price["Code"]==t_i]["range"].values[0]
                    price_data["Price_stand"] = price_data["Open"] + int(target_band*1.5)
                    base_price = price_data["Price_stand"].values[0]
                    current_price = price_data["Close"].values[0]

                    bot_log = (time_log + " ### 프로그램 log test ### 종목명 : " + t_n  + " / 종목코드 : " + t_i + 
                                " / 현재가격 : " + str(current_price) + " / 기준가격 : " + str(base_price) +
                                " / Range : "  +str(target_band)  +"\n")
                    #log test
                    with open(file_name+'_test.txt', 'a') as f: 
                        f.write(bot_log) 

                    if current_price >= base_price :
                        kospi_data = kospi_data[kospi_data["Code"]!=t_i]
                        data = {"template_object" : json.dumps({ 
                                     "object_type" : "text",
                                     "text" : "매수사인"+"\n" + 
                                              "종목 : "+t_n +"\n" + "코드 : "+t_i +"\n"+ "매수가격 : "+str(current_price) +"\n"+
                                              "배수 : "+str(np.round((current_price/base_price-1)*100,2)) +"\n"+
                                              "Stand : "+ str(base_price)+ "\n"+
                                              "Range : "+ str(target_band),

                                    "link" : {"web_url": "https://finance.naver.com/item/main.naver?code="+str(t_i),
                                              "mobile_web_url":"https://finance.naver.com/item/main.naver?code="+str(t_i)}
                                })}


                        response = requests.post(url, headers=headers, data=data)
                        if response.json().get('result_code') == 0:
                            print('메시지를 성공적으로 보냈습니다.')
                            print(t_n, current_price, base_price,target_band)
                            with open(file_name+'.txt', 'a') as f: 
                                f.write(time_log + ' --- 메시지를 성공적으로 보냈습니다.'  +"\n")
                                f.write(bot_log)
                        else:
                            tokens["access_token"] = refreshToken(tokens["refresh_token"])
                            headers = {"Authorization": "Bearer " + tokens["access_token"]}
                            response = requests.post(url, headers=headers, data=data)
                            if response.json().get('result_code') == 0:
                                print("토큰 갱신에 성공했습니다.")
                                print('메시지를 성공적으로 보냈습니다.')
                                print(t_n, current_price, base_price, target_band)
                                with open(file_name+'.txt', 'a') as f: 
                                    f.write(time_log + ' --- 토큰을 갱신했습니다.'  +"\n")
                                    f.write(time_log + ' --- 메시지를 성공적으로 보냈습니다.'  +"\n")
                                    f.write(bot_log)
                            else:
                                print("토큰 갱신에 실패했습니다.")
                                with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 토큰 갱신에 실패했습니다.'  +"\n")                        

        elif x.hour+9 == 16 and x.minute >= 10 and set_before == True:
            print(x.month, x.day,x.hour+9,x.minute)
            price_data = fdr.DataReader(t_i, t_date)
            date = str(price_data.tail(1).index)[16:26]
            t_date = date

            kospi_data = df_krx[df_krx["Market"].str.contains("KOSPI")]

            kospi_data = kospi_data[kospi_data["Name"].isin(kospi_200_list[kospi_200_list["Code"]==102110].STK_NM_KOR)]

            before_price = None
            for t_i2 in kospi_data["Code"]:
                t_n = kospi_data[kospi_data["Code"]==t_i2]["Name"].values[0]
                price_data = fdr.DataReader(t_i2, t_date)
                price_data.insert(0,"Code",t_i2)
                price_data.insert(0,"Name",t_n)
                before_price = pd.concat([before_price,price_data.tail(1)],axis = 0)
            before_price["band"] =  before_price["High"] - before_price["Low"]
            set_before = False
            print(x.month,x.day,"completed")
            before_price.to_csv("./before_data/before_data_kospi"+str(x.month)+str(x.day)+".csv")
            with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- Before_data를 갱신했습니다.'  +"\n")   

        else:
            with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 거래시간이 아닙니다. 프로그램 대기중'  +"\n")   
            time.sleep(60)
except:
    print("Error")
    with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 코드 에러.'  +"\n")   
    data = {"template_object" : json.dumps({ 
                 "object_type" : "text",
                 "text" : "코드에러"+"\n" ,
                 "link" : None
            })}
    response = requests.post(url, headers=headers, data=data)
    if response.json().get('result_code') == 0:
        with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 코드 에러 메시지를 성공적으로 보냈습니다.'  +"\n")   
    else:
        tokens["access_token"] = refreshToken(tokens["refresh_token"])
        headers = {"Authorization": "Bearer " + tokens["access_token"]}
        response = requests.post(url, headers=headers, data=data)
        if response.json().get('result_code') == 0:
            with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 코드 에러 토큰 갱신에 성공했습니다.'  +"\n")   
        else:
            with open(file_name+'.txt', 'a') as f: f.write(time_log + ' --- 코드 에러 토큰 갱신에 실패했습니다.'  +"\n")