https://github.com/hyunyulhenry/quant_py?tab=readme-ov-file

https://post.naver.com/viewer/postView.naver?volumeNo=32679655&memberNo=25379965&vType=VERTICAL

In [1]:
import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_deposit.nhn'
data = rq.get(url)
data_html = BeautifulSoup(data.content)
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text

print(parse_day)

  |  2024.12.11

In [2]:
import re

biz_day = re.findall('[0-9]+', parse_day)
biz_day = ''.join(biz_day)

print(biz_day)

20241211

In [8]:
import requests as rq
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_stk = {
    'mktId': 'STK',
    'trdDd': biz_day,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
}
#headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
headers = {'Referer':'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader','Upgrade-Insecure-Requests': '1','User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'}
otp_stk = rq.post(gen_otp_url, gen_otp_stk, headers=headers).text

print(otp_stk)

mdK9V1Dy3SRKRwnZUjXnDqY3UL7j8x1DiiYw7vDB9mwRtSksuLS7Bnxpl86F7dAOkunw9BBwugQaSjGAcH15eZQ9a3U+eQYrqrDbwFJ1oBUtBgM+EFJCxYg3zco1gIgRZqIo4cIzoURnTI8+MmkJ4m8vFLhSKmM794gFu+ThsO31lY4woqehX8j6OlXFDcfHdV4NbYo4+D2Rwcfj24VnU3Zpq3ik/Dyw3FdyOXhJkBI=

In [9]:
down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
down_sector_stk = rq.post(down_url, {'code': otp_stk}, headers=headers)
sector_stk = pd.read_csv(BytesIO(down_sector_stk.content), encoding='EUC-KR')

sector_stk.head()

     종목코드      종목명   시장구분    업종명      종가   대비   등락률           시가총액
0  095570   AJ네트웍스  KOSPI  일반서비스    4635   30  0.65   209746537965
1  006840    AK홀딩스  KOSPI   기타금융   10960   70  0.64   145193268560
2  027410      BGF  KOSPI   기타금융    3550  120  3.50   339794608050
3  282330   BGF리테일  KOSPI     유통  101000  700  0.70  1745674506000
4  138930  BNK금융지주  KOSPI   기타금융   10950  120  1.11  3508782160650

In [10]:
gen_otp_ksq = {
    'mktId': 'KSQ',  # 코스닥 입력
    'trdDd': biz_day,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
}
otp_ksq = rq.post(gen_otp_url, gen_otp_ksq, headers=headers).text

down_sector_ksq = rq.post(down_url, {'code': otp_ksq}, headers=headers)
sector_ksq = pd.read_csv(BytesIO(down_sector_ksq.content), encoding='EUC-KR')

sector_ksq.head()

     종목코드     종목명    시장구분      업종명     종가   대비    등락률          시가총액
0  060310      3S  KOSDAQ  의료·정밀기기   1903  112   6.25   97214073726
1  054620     APS  KOSDAQ       금융   5510   60   1.10  109617157710
2  265520   AP시스템  KOSDAQ    기계·장비  15430  340   2.25  235792326030
3  211270    AP위성  KOSDAQ  운송장비·부품  12500  760   6.47  188528800000
4  109960  AP헬스케어  KOSDAQ       유통    508   52  11.40  102000948652

In [11]:
krx_sector = pd.concat([sector_stk, sector_ksq]).reset_index(drop=True)
krx_sector['종목명'] = krx_sector['종목명'].str.strip()
krx_sector['기준일'] = biz_day

krx_sector.head()

     종목코드      종목명   시장구분    업종명      종가   대비   등락률           시가총액       기준일
0  095570   AJ네트웍스  KOSPI  일반서비스    4635   30  0.65   209746537965  20241211
1  006840    AK홀딩스  KOSPI   기타금융   10960   70  0.64   145193268560  20241211
2  027410      BGF  KOSPI   기타금융    3550  120  3.50   339794608050  20241211
3  282330   BGF리테일  KOSPI     유통  101000  700  0.70  1745674506000  20241211
4  138930  BNK금융지주  KOSPI   기타금융   10950  120  1.11  3508782160650  20241211

In [13]:
import requests as rq
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_data = {
    'searchType': '1',
    'mktId': 'ALL',
    'trdDd': biz_day,
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03501'
}
#headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
headers = {'Referer':'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader','Upgrade-Insecure-Requests': '1','User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'}
otp = rq.post(gen_otp_url, gen_otp_data, headers=headers).text

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
krx_ind = rq.post(down_url, {'code': otp}, headers=headers)

krx_ind = pd.read_csv(BytesIO(krx_ind.content), encoding='EUC-KR')
krx_ind['종목명'] = krx_ind['종목명'].str.strip()
krx_ind['기준일'] = biz_day

krx_ind.head()

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률,기준일
0,060310,3S,1903,112,6.25,54.0,35.24,NaN,NaN,998.0,1.91,0,0.00,20241211
1,095570,AJ네트웍스,4635,30,0.65,367.0,12.63,976.0,4.75,9326.0,0.50,270,5.83,20241211
2,006840,AK홀딩스,10960,70,0.64,2635.0,4.16,NaN,NaN,44339.0,0.25,200,1.82,20241211
3,054620,APS,5510,60,1.10,667.0,8.26,NaN,NaN,11683.0,0.47,0,0.00,20241211
4,265520,AP시스템,15430,340,2.25,3997.0,3.86,4513.0,3.42,21396.0,0.72,270,1.75,20241211

In [14]:
diff = list(set(krx_sector['종목명']).symmetric_difference(set(krx_ind['종목명'])))
print(diff)

['삼성FN리츠', '엘브이엠씨홀딩스', '코오롱티슈진', '애머릿지', '퀀텀온', '에이리츠', '골든센츄리', '이지스밸류리츠', '윙입푸드', '맥쿼리인프라', '씨엑스아이', '한화리츠', '맵스리얼티1', '스타에스엠리츠', '잉글우드랩', 'JTC', '신라섬유', '헝셩그룹', '미래에셋맵스리츠', 'KB발해인프라', '미래에셋글로벌리츠', '제이알글로벌리츠', '오가닉티코스메틱', 'NH프라임리츠', '코람코라이프인프라리츠', '롯데리츠', '크리스탈신소재', '디앤디플랫폼리츠', '이리츠코크렙', '신한글로벌액티브리츠', 'GRT', 'ESR켄달스퀘어리츠', '글로벌에스엠', '고스트스튜디오', '한국패러랠', 'SBI핀테크솔루션즈', '엑세스바이오', '부방', '로스웰', 'KB스타리츠', '코람코더원리츠', '케이탑리츠', '이스트아시아홀딩스', '마스턴프리미어리츠', 'NH올원리츠', '신한알파리츠', '이지스레지던스리츠', '신한서부티엔디리츠', 'SK리츠', '프레스티지바이오파마', '한국ANKOR유전', '소마젠', '네오이뮨텍', '컬러레이']

In [15]:
kor_ticker = pd.merge(krx_sector,
                      krx_ind,
                      on=krx_sector.columns.intersection(
                          krx_ind.columns).tolist(),
                      how='outer')

kor_ticker.head()

,종목코드,종목명,시장구분,업종명,종가,대비,등락률,시가총액,기준일,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,095570,AJ네트웍스,KOSPI,일반서비스,4635,30,0.65,2.097465e+11,20241211,367.0,12.63,976.0,4.75,9326.0,0.50,270.0,5.83
1,006840,AK홀딩스,KOSPI,기타금융,10960,70,0.64,1.451933e+11,20241211,2635.0,4.16,NaN,NaN,44339.0,0.25,200.0,1.82
2,027410,BGF,KOSPI,기타금융,3550,120,3.50,3.397946e+11,20241211,813.0,4.37,690.0,5.15,17286.0,0.21,120.0,3.38
3,282330,BGF리테일,KOSPI,유통,101000,700,0.70,1.745675e+12,20241211,11337.0,8.91,12132.0,8.33,62197.0,1.62,4100.0,4.06
4,138930,BNK금융지주,KOSPI,기타금융,10950,120,1.11,3.508782e+12,20241211,1905.0,5.75,2614.0,4.19,31746.0,0.34,510.0,4.66

In [16]:
print(kor_ticker[kor_ticker['종목명'].str.contains('스팩|제[0-9]+호')]['종목명'].values)

['DB금융스팩11호' 'DB금융스팩12호' 'IBKS제20호스팩' 'IBKS제21호스팩' 'IBKS제22호스팩'
 'IBKS제23호스팩' 'IBKS제24호스팩' 'KB제25호스팩' 'KB제26호스팩' 'KB제27호스팩' 'KB제28호스팩'
 'KB제29호스팩' 'KB제30호스팩' '교보13호스팩' '교보14호스팩' '교보15호스팩' '교보16호스팩' '교보17호스팩'
 '대신밸런스제14호스팩' '대신밸런스제15호스팩' '대신밸런스제16호스팩' '대신밸런스제17호스팩' '대신밸런스제18호스팩'
 '대신밸런스제19호스팩' '디비금융제13호스팩' '미래에셋드림스팩1호' '미래에셋비전스팩1호' '미래에셋비전스팩2호'
 '미래에셋비전스팩3호' '미래에셋비전스팩4호' '미래에셋비전스팩5호' '미래에셋비전스팩6호' '미래에셋비전스팩7호'
 '비엔케이제1호스팩' '비엔케이제2호스팩' '삼성스팩6호' '삼성스팩7호' '삼성스팩8호' '삼성스팩9호' '상상인제4호스팩'
 '신영스팩10호' '신영스팩8호' '신영스팩9호' '신한제10호스팩' '신한제11호스팩' '신한제12호스팩' '신한제13호스팩'
 '신한제15호스팩' '에스케이증권제10호스팩' '에스케이증권제11호스팩' '에스케이증권제12호스팩' '에스케이증권제13호스팩'
 '에스케이증권제8호스팩' '에스케이증권제9호스팩' '에이치엠씨제6호스팩' '에이치엠씨제7호스팩' '엔에이치스팩23호'
 '엔에이치스팩24호' '엔에이치스팩25호' '엔에이치스팩26호' '엔에이치스팩27호' '엔에이치스팩29호' '엔에이치스팩30호'
 '엔에이치스팩31호' '유안타제10호스팩' '유안타제11호스팩' '유안타제12호스팩' '유안타제13호스팩' '유안타제14호스팩'
 '유안타제15호스팩' '유안타제16호스팩' '유안타제9호스팩' '유진스팩10호' '유진스팩11호' '유진스팩9호'
 '이베스트스팩6호' '케이비제21호스팩' '키움제11호스팩' '키움제6호스팩' '키움제7호스팩' '키움제8호스팩' '하나26호스팩'
 '하나27호스팩' '하나28호스팩' '하나29호스팩' '하나30호스팩' '하나31호스팩' '하나32호스팩' '하나33호스팩'
 '하나34호스팩' '하나금융21호스팩' '하나금융22호스팩' '하나금융25호스팩' '하이제8호스팩' '한국제12호스팩'
 '한국제13호스팩' '한국제14호스팩' '한국제15호스팩' '한화플러스제3호스팩' '한화플러스제4호스팩']

In [17]:
print(kor_ticker[kor_ticker['종목명'].str.endswith('리츠')]['종목명'].values)

['ESR켄달스퀘어리츠' 'KB스타리츠' 'NH올원리츠' 'NH프라임리츠' 'SK리츠' '디앤디플랫폼리츠' '롯데리츠'
 '마스턴프리미어리츠' '미래에셋글로벌리츠' '미래에셋맵스리츠' '삼성FN리츠' '스타에스엠리츠' '신한글로벌액티브리츠'
 '신한서부티엔디리츠' '신한알파리츠' '에이리츠' '이지스레지던스리츠' '이지스밸류리츠' '제이알글로벌리츠' '케이탑리츠'
 '코람코더원리츠' '코람코라이프인프라리츠' '한화리츠']

In [18]:
import numpy as np

kor_ticker['종목구분'] = np.where(kor_ticker['종목명'].str.contains('스팩|제[0-9]+호'), '스팩',
                              np.where(kor_ticker['종목코드'].str[-1:] != '0', '우선주',
                                       np.where(kor_ticker['종목명'].str.endswith('리츠'), '리츠',
                                                np.where(kor_ticker['종목명'].isin(diff),  '기타',
                                                '보통주'))))
kor_ticker = kor_ticker.reset_index(drop=True)
kor_ticker.columns = kor_ticker.columns.str.replace(' ', '')
kor_ticker = kor_ticker[['종목코드', '종목명', '시장구분', '종가',
                         '시가총액', '기준일', 'EPS', '선행EPS', 'BPS', '주당배당금', '종목구분']]
kor_ticker = kor_ticker.replace({np.nan: None})
kor_ticker['기준일'] = pd.to_datetime(kor_ticker['기준일'])

kor_ticker.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,095570,AJ네트웍스,KOSPI,4635,209746537965.0,2024-12-11,367.0,976.0,9326.0,270.0,보통주
1,006840,AK홀딩스,KOSPI,10960,145193268560.0,2024-12-11,2635.0,None,44339.0,200.0,보통주
2,027410,BGF,KOSPI,3550,339794608050.0,2024-12-11,813.0,690.0,17286.0,120.0,보통주
3,282330,BGF리테일,KOSPI,101000,1745674506000.0,2024-12-11,11337.0,12132.0,62197.0,4100.0,보통주
4,138930,BNK금융지주,KOSPI,10950,3508782160650.0,2024-12-11,1905.0,2614.0,31746.0,510.0,보통주

In [26]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='0000',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()
query = f"""
    insert into kor_ticker (종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분)
    values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    종목명=new.종목명,시장구분=new.시장구분,종가=new.종가,시가총액=new.시가총액,EPS=new.EPS,선행EPS=new.선행EPS,
    BPS=new.BPS,주당배당금=new.주당배당금,종목구분 = new.종목구분;
"""

args = kor_ticker.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

In [27]:
import json
import requests as rq
import pandas as pd

url = f'''http://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd=G10'''
data = rq.get(url).json()

type(data)

dict

In [28]:
print(data.keys())

dict_keys(['info', 'list', 'sector', 'size'])

In [30]:
data['list'][0]

{'IDX_CD': 'G10',
 'IDX_NM_KOR': 'WICS 에너지',
 'ALL_MKT_VAL': 23713316,
 'CMP_CD': '096770',
 'CMP_KOR': 'SK이노베이션',
 'MKT_VAL': 10031126,
 'WGT': 42.3,
 'S_WGT': 42.3,
 'CAL_WGT': 1.0,
 'SEC_CD': 'G10',
 'SEC_NM_KOR': '에너지',
 'SEQ': 1,
 'TOP60': 3,
 'APT_SHR_CNT': 84579475}

In [31]:
data['sector']

[{'SEC_CD': 'G25', 'SEC_NM_KOR': '경기관련소비재', 'SEC_RATE': 9.95, 'IDX_RATE': 0},
 {'SEC_CD': 'G35', 'SEC_NM_KOR': '건강관리', 'SEC_RATE': 11.21, 'IDX_RATE': 0},
 {'SEC_CD': 'G50', 'SEC_NM_KOR': '커뮤니케이션서비스', 'SEC_RATE': 6.68, 'IDX_RATE': 0},
 {'SEC_CD': 'G40', 'SEC_NM_KOR': '금융', 'SEC_RATE': 10.65, 'IDX_RATE': 0},
 {'SEC_CD': 'G10', 'SEC_NM_KOR': '에너지', 'SEC_RATE': 1.91, 'IDX_RATE': 100.0},
 {'SEC_CD': 'G20', 'SEC_NM_KOR': '산업재', 'SEC_RATE': 15.21, 'IDX_RATE': 0},
 {'SEC_CD': 'G55', 'SEC_NM_KOR': '유틸리티', 'SEC_RATE': 1.14, 'IDX_RATE': 0},
 {'SEC_CD': 'G30', 'SEC_NM_KOR': '필수소비재', 'SEC_RATE': 2.43, 'IDX_RATE': 0},
 {'SEC_CD': 'G15', 'SEC_NM_KOR': '소재', 'SEC_RATE': 6.92, 'IDX_RATE': 0},
 {'SEC_CD': 'G45', 'SEC_NM_KOR': 'IT', 'SEC_RATE': 33.9, 'IDX_RATE': 0}]

In [32]:
data_pd = pd.json_normalize(data['list'])
data_pd.head()

,IDX_CD,IDX_NM_KOR,ALL_MKT_VAL,CMP_CD,CMP_KOR,MKT_VAL,WGT,S_WGT,CAL_WGT,SEC_CD,SEC_NM_KOR,SEQ,TOP60,APT_SHR_CNT
0,G10,WICS 에너지,23713316,096770,SK이노베이션,10031126,42.30,42.30,1.0,G10,에너지,1,3,84579475
1,G10,WICS 에너지,23713316,267250,HD현대,3503501,14.77,57.08,1.0,G10,에너지,2,3,44236128
2,G10,WICS 에너지,23713316,010950,S-Oil,2374371,10.01,67.09,1.0,G10,에너지,3,3,41655633
3,G10,WICS 에너지,23713316,078930,GS,2001815,8.44,75.53,1.0,G10,에너지,4,3,49245150
4,G10,WICS 에너지,23713316,009830,한화솔루션,1779242,7.50,83.03,1.0,G10,에너지,5,3,108292298

In [33]:
import time
import json
import requests as rq
import pandas as pd
from tqdm import tqdm

sector_code = [
    'G25', 'G35', 'G50', 'G40', 'G10', 'G20', 'G55', 'G30', 'G15', 'G45'
]

data_sector = []

for i in tqdm(sector_code):
    url = f'''http://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd={i}'''    
    data = rq.get(url).json()
    data_pd = pd.json_normalize(data['list'])

    data_sector.append(data_pd)

    time.sleep(2)

kor_sector = pd.concat(data_sector, axis = 0)
kor_sector = kor_sector[['IDX_CD', 'CMP_CD', 'CMP_KOR', 'SEC_NM_KOR']]
kor_sector['기준일'] = biz_day
kor_sector['기준일'] = pd.to_datetime(kor_sector['기준일'])

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:23<00:00,  2.37s/it]

In [34]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='0000',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()
query = f"""
    insert into kor_sector (IDX_CD, CMP_CD, CMP_KOR, SEC_NM_KOR, 기준일)
    values (%s,%s,%s,%s,%s) as new
    on duplicate key update
    IDX_CD = new.IDX_CD, CMP_KOR = new.CMP_KOR, SEC_NM_KOR = new.SEC_NM_KOR
"""

args = kor_sector.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

In [36]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

ticker_list.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,6300.0,1.759680e+11,2024-12-11,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,483.0,2.904420e+10,2024-12-11,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,6100.0,1.672330e+11,2024-12-11,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,68400.0,5.857960e+11,2024-12-11,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20700.0,1.451770e+12,2024-12-11,512.0,1799.0,15694.0,950.0,보통주

In [37]:
from dateutil.relativedelta import relativedelta
import requests as rq
from io import BytesIO
from datetime import date

i = 0
ticker = ticker_list['종목코드'][i]
fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d")
to = (date.today()).strftime("%Y%m%d")

url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
&startTime={fr}&endTime={to}&timeframe=day'''

data = rq.get(url).content
data_price = pd.read_csv(BytesIO(data))

data_price.head()

,[['날짜','시가','고가','저가','종가','거래량','외국인소진율'],Unnamed: 7
0,"[""20191213""",7800.0,8180.0,7710.0,7860.0,689432.0,4.85],NaN
1,"[""20191216""",7860.0,8250.0,7860.0,8010.0,93201.0,4.84],NaN
2,"[""20191217""",8100.0,8260.0,7960.0,8170.0,235843.0,4.99],NaN
3,"[""20191218""",8230.0,8230.0,7980.0,8050.0,334713.0,5.17],NaN
4,"[""20191219""",8030.0,8150.0,8000.0,8130.0,63093.0,5.22],NaN

In [38]:
import re

price = data_price.iloc[:, 0:6]
price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
price = price.dropna()
price['날짜'] = price['날짜'].str.extract('(\d+)')
price['날짜'] = pd.to_datetime(price['날짜'])
price['종목코드'] = ticker

price.head()

          날짜      시가      고가      저가      종가       거래량    종목코드
0 2019-12-13  7800.0  8180.0  7710.0  7860.0  689432.0  000020
1 2019-12-16  7860.0  8250.0  7860.0  8010.0   93201.0  000020
2 2019-12-17  8100.0  8260.0  7960.0  8170.0  235843.0  000020
3 2019-12-18  8230.0  8230.0  7980.0  8050.0  334713.0  000020
4 2019-12-19  8030.0  8150.0  8000.0  8130.0   63093.0  000020

In [ ]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import requests as rq
import time
from tqdm import tqdm
from io import BytesIO

# DB 연결
engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='0000',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_price (날짜, 시가, 고가, 저가, 종가, 거래량, 종목코드)
    values (%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    시가 = new.시가, 고가 = new.고가, 저가 = new.저가,
    종가 = new.종가, 거래량 = new.거래량;
"""

# 오류 발생시 저장할 리스트 생성
error_list = []

# 전종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):

    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 시작일과 종료일
    fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d")
    to = (date.today()).strftime("%Y%m%d")

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # url 생성
        url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
        &startTime={fr}&endTime={to}&timeframe=day'''

        # 데이터 다운로드
        data = rq.get(url).content
        data_price = pd.read_csv(BytesIO(data))

        # 데이터 클렌징
        price = data_price.iloc[:, 0:6]
        price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
        price = price.dropna()
        price['날짜'] = price['날짜'].str.extract('(\d+)')
        price['날짜'] = pd.to_datetime(price['날짜'])
        price['종목코드'] = ticker

        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()